*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #d2dbdd;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 46px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
button{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 60px;
  border-radius: 4px;
  font-weight: 600;
  background-color: rgb(243, 103, 243);
  color: white;
  border-style: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
}
button:active{
  color:wheat;
}
button:hover{
  font-size: 20px;
  background-color: rgb(255, 60, 255);
}





/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  color:cornflowerblue;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px whitesmoke;
  margin: 70px 0;

}
.imgCss{
  display: flex;
  justify-content: center;
}

.imgCss img{
  width: 250px;
  height: 300px;
} */

